<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            El GAC Emkoo HEV destaca por su diseño futurista y aerodinámico, con
            una parrilla frontal tipo armadura y faros LED secuenciales que
            realzan su estilo agresivo. Sus líneas laterales fluidas y molduras
            contrastantes le otorgan una personalidad única, mientras que su
            diseño trasero refuerza su carácter innovador y distintivo.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Cuenta con un motor 2.0L Atkinson que combina potencia y eficiencia,
            generando hasta 138 HP y un torque máximo de 180 Nm. Diseñado para
            operar en rangos de alta eficiencia térmica, este sistema híbrido
            reduce el consumo de combustible, garantizando un rendimiento
            dinámico y sostenible.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            El GAC Emkoo HEV incorpora un generador eléctrico que entrega una
            potencia de hasta 179 HP y 300 Nm de torque. Este sistema híbrido
            garantiza una aceleración potente y una conducción ágil, optimizando
            tanto el rendimiento como la eficiencia energética.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib4.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Está equipado con tecnología de punta que eleva cada experiencia de
            manejo. Su sistema híbrido avanzado optimiza el consumo de
            combustible, mientras que su pantalla táctil de alta definición y
            conectividad intuitiva ofrecen control total al conductor. Con
            asistentes de seguridad inteligentes, este SUV garantiza innovación
            y confianza en cada trayecto.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib5.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Ofrece seguridad 360° con tecnología activa y pasiva avanzada.
            Incluye frenado autónomo, control de crucero adaptativo y monitoreo
            de puntos ciegos, mientras que su estructura reforzada y airbags
            estratégicos protegen a todos los ocupantes. Cada trayecto combina
            confianza y tranquilidad.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
