<section
  class="bg-[url('/emkoo-hibrido/img/fondo-colores-ext.svg')] bg-contain bg-no-repeat bg-bottom my-8 xl:my-16 aspect-[1361/680]"
>
  <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Colores exterior</h2>
  <!-- Swiper -->
  <div class="swiper extSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/emkoo-hibrido/img/color-ext1.png"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emkoo-hibrido/img/color-ext2.png"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emkoo-hibrido/img/color-ext3.png"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emkoo-hibrido/img/color-ext4.png"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/emkoo-hibrido/img/color-ext5.png"
          class="mx-auto xl:max-w-[780px]"
          alt="color"
        />
      </div>
    </div>
  </div>
  <div
    class="flex gap-2 xl:gap-4 justify-center [&>*]:cursor-pointer text-center text-xs xl:text-sm font-medium"
  >
    <div class="w-16 flex flex-col items-center gap-1">
      <img
        src="/emkoo-hibrido/img/color1.svg"
        alt="color6"
        onclick="changeColor(0)"
      />
      <p>Verde Lagoon</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img
        src="/emkoo-hibrido/img/color2.svg"
        alt="color7"
        onclick="changeColor(1)"
      />
      <p>Blanco Snow</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img
        src="/emkoo-hibrido/img/color3.svg"
        alt="color3"
        onclick="changeColor(2)"
      />
      <p>Gris Moonlight</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img
        src="/emkoo-hibrido/img/color4.svg"
        alt="color4"
        onclick="changeColor(3)"
      />
      <p>Plata Superstar</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img
        src="/emkoo-hibrido/img/color5.svg"
        alt="color5"
        onclick="changeColor(4)"
      />
      <p>Negro Elegant</p>
    </div>
  </div>
</section>
