<section
  class="bg-[url('/img/fondo-colores-int.svg')] bg-contain bg-no-repeat bg-bottom my-8 xl:my-16 xl:aspect-[1361/680]"
>
  <h2 class="poppins-bold uppercase text-3xl xl:text-6xl text-right">
    Color interior
  </h2>
  <div>
    <img src="/img/color-int3.png" alt="color" class="xl:-mt-12" />
  </div>
</section>
