<!-- Swiper -->
<div
  class="swiper mySwiper leftSwiper2 py-8 xl:py-0 xl:my-16"
  id="equipamiento"
>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/emkoo-hibrido/img/equip1.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              GAC Emkoo HEV cuenta con un panel de información LCD de 7"
              complementado por una pantalla táctil inteligente de 10.1". Ofrece
              conectividad inalámbrica Apple CarPlay y Phone Mirroring para
              Android, brindando control total y comodidad en todo momento.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/emkoo-hibrido/img/equip2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Incluye una moderna consola central equipada con botón de
              encendido/apagado, luz de emergencia, freno de mano electrónico
              (EPB) y función AutoHold. Destaca su palanca de cambios tipo
              cristal, que aporta un toque de sofisticación y modernidad.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/emkoo-hibrido/img/equip3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Está equipado con aire acondicionado climatizado y ductos para los
              pasajeros traseros, asegurando confort en todo el vehículo. Sus
              asientos de ecocuero, luz ambiental multicolor y sistema de audio
              con 6 parlantes crean una experiencia interior cómoda y
              sofisticada.​
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
