<!-- Swiper -->
<div
  class="swiper mySwiper leftSwiper2 py-8 xl:py-0 xl:my-16"
  id="equipamiento"
>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/emkoo-hibrido/img/equip1.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              El GAC Aion ES está diseñado para ofrecer una experiencia de
              conducción inteligente y conectada. Su sistema de control crucero
              y el innovador pedal electrónico “I-Pedal” facilitan una
              conducción fluida y eficiente.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/emkoo-hibrido/img/equip2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Su pantalla táctil de 8 pulgadas y el cuadro de instrumentos LCD
              permiten acceso intuitivo a funciones clave, mientras que la
              conectividad Apple CarPlay asegura entretenimiento y comunicación
              sin interrupciones. Cada recorrido en el GAC Aion ES se convierte
              en una muestra de tecnología avanzada y practicidad.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/emkoo-hibrido/img/equip3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Está equipado con un motor eléctrico síncrono de imanes
              permanentes montado en el eje delantero, que genera una potencia
              de 134 hp y un torque de 225 Nm. Este motor se combina con una
              transmisión automática, permitiendo tres modos de conducción: Eco,
              Normal y Sport. Además, ofrece tres niveles de regeneración de
              energía, ajustables según las necesidades del conductor: Bajo,
              Medio y Alto.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/emkoo-hibrido/img/equip4.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              El GAC Aion ES destaca en comodidad tecnológica con detalles
              pensados para mejorar cada viaje. Su climatizador bi-zona permite
              un ajuste preciso de la temperatura para el conductor y pasajeros,
              mientras que el sistema de filtro de aire PM2.5 garantiza un
              ambiente limpio dentro del habitáculo. Además, cuenta con entradas
              USB en ambas filas de asientos, ofreciendo conectividad y carga
              fácil para todos los ocupantes.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
