<section class="my-16" id="especificaciones">
  <div
    class="xl:bg-[url('/img/fondo-especificaciones.jpg')] bg-contain bg-no-repeat xl:aspect-[1314/561] mb-8"
  >
    <h1 class="poppins-bold uppercase text-3xl xl:text-6xl relative z-10">
      Especificaciones <br /> Técnicas
    </h1>
    <img
      src="/img/fondo-especificaciones.jpg"
      alt=""
      class="xl:hidden -mt-8 relative"
    />
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-espec.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Características y especificaciones</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Largo × Ancho × Alto (mm)</span>
        <span>4680 mm x 1901 mm x 1660 mm</span>
      </li>
      <li>
        <span>Distancia entre ejes (mm)</span>
        <span>2750mm</span>
      </li>
      <li>
        <span>Capacidad del tanque de combustible (L)</span>
        <span>50 L</span>
      </li>
      <li>
        <span>Puertas</span>
        <span>5</span>
      </li>
      <li>
        <span>Peso Bruto Vehícular (kg)</span>
        <span>1915 kg</span>
      </li>
      <li>
        <span>Peso Neto Vehícular (kg)</span>
        <span>1540 kg</span>
      </li>
      <li>
        <span>Cilindrada (cc)</span>
        <span>1999 cc</span>
      </li>
      <li>
        <span>Tecnología</span>
        <span
          >Atkinson. Encendido por chispa, cuatro cilindros en línea. Inyección
          directa (GDI).</span
        >
      </li>
      <li>
        <span>Potencia (HP / RPM)</span>
        <span>138 @ 6,000</span>
      </li>
      <li>
        <span>Torque (N·m / RPM)</span>
        <span>180 @ 4,500</span>
      </li>
      <li>
        <span>Potencia combinada (HP)</span>
        <span>179</span>
      </li>
      <li>
        <span>Torque (N·m)</span>
        <span>300</span>
      </li>
      <li>
        <span>Tipo de batería</span>
        <span>Batería ternaria de litio (Níquel, Cobalto y Manganeso)</span>
      </li>
      <li>
        <span>Voltaje nominal (V)</span>
        <span>349</span>
      </li>
      <li>
        <span>Capacidad de batería (A.h)</span>
        <span>5.95</span>
      </li>
      <li>
        <span>Transmisión</span>
        <span>DHT</span>
      </li>
      <li>
        <span>Tracción</span>
        <span>4x2 (FWD)</span>
      </li>
      <li>
        <span>Dirección</span>
        <span>Eléctricamente Asistida (EPS)</span>
      </li>
      <li>
        <span>Suspensión / Frenos Delantera</span>
        <span>Mc Pherson independiente / Discos ventilados</span>
      </li>
      <li>
        <span>Posterior</span>
        <span>Multilink independiente / Discos sólidos</span>
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-ext.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Exterior</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Llantas</span>
        <span>Aleación</span>
      </li>
      <li>
        <span>Neumáticos</span>
        <span>235/55 R19</span>
      </li>
      <li>
        <span>Rueda de repuesto</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Faros delanteros</span>
        <span>LED</span>
      </li>
      <li>
        <span>Faros con encendido automático</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Ajuste de altura</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente de luz alta (HMA)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema inteligente de control de luces altas (IHBC)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Alerta de luces encendidas</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema Follow Me Home</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Faros neblineros posteriores</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Luces Diurnas LED (DRL)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Tercera luz de freno LED</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Espejos laterales plegables eléctricos con calefacción</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Luces de giro</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Apertura y cierre eléctrico de maletero</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Manijas de puertas eléctricas ocultas</span>
        <span>Eléctricas</span>
      </li>
      <li>
        <span>Sensor de lluvia en limpiaparabrisas delantero</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Techo panorámico con persiana eléctrica</span>
        <img src="/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-int.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Interior</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Aire acondicionado con climatizador</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Aire acondicionado de segunda fila</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sensor de calidad de aire</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Alza vidrios eléctricos</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Función Anti-pellizco</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>One Touch Up & Down</span>
        <span>Primera y Segunda fila</span>
      </li>
      <li>
        <span>Tapiz asientos</span>
        <span>Eco-Cuero</span>
      </li>
      <li>
        <span>Ajuste de asiento de piloto</span>
        <span>Eléctrico 6 posiciones</span>
      </li>
      <li>
        <span>Asientos delanteros ventilados</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Ajuste de asiento de copiloto</span>
        <span>Eléctrico 4 posiciones</span>
      </li>
      <li>
        <span>Ajuste del respaldo de los asientos de la segunda fila</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Multifuncional (Controles de audio)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Tapiz</span>
        <span>Cuero</span>
      </li>
      <li>
        <span>Regulable en altura y profundidad</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Cierre centralizado</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Palanca de cambios electrónica tipo cristal</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Luz ambiente multicolor</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Llave con mando a distancia</span>
        <img src="/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-seg.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Seguridad</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Airbags frontales</span>
        <span>Piloto / Copiloto</span>
      </li>
      <li>
        <span>Airbags laterales delanteros</span>
        <span>2</span>
      </li>
      <li>
        <span>Airbags laterales de cortina</span>
        <span>2</span>
      </li>
      <li>
        <span
          >Asientos delanteros con cinturones de seguridad pretensionados +
          limitadores de fuerza +lengüeta de bloqueo en accidentes (CLT)</span
        >
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Alarma de no uso del cinturón de seguridad</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de frenos antibloqueo (ABS)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Distribución electrónica de frenado (EBD)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistencia hidráulica de frenos (HBA)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Freno de mano electrónico (EPB) + Autohold</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Control electrónico de estabilidad (ESP)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Ayuda de arranque en pendiente (HHC)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Ayuda de descenso en pendientes (HDC)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Bloqueo electrónico para niños</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Control de presión de neumáticos (TPMS)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Anclajes ISOFIX</span>
        <img src="/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-tec.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Multimedia y tecnología</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Bluetooth ® - Handsfree Phone System</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Botón Encendido Start/Stop & Keyless entry (PEPS)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Cámara de retroceso</span>
        <span>360°</span>
      </li>
      <li>
        <span>Sensores de estacionamiento</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Radio AM/FM</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema multimedia Audio & Video</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Pantalla multimedia</span>
        <span>Touch 10.1"</span>
      </li>
      <li>
        <span>Parlantes</span>
        <span>6</span>
      </li>
      <li>
        <span>Ajuste "Speed based volume"</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Conectividad</span>
        <span>Apple Car Play inalámbrico / Phone Mirroring (Android)</span>
      </li>
      <li>
        <span>Panel de instrumentos</span>
        <span>LCD 7"</span>
      </li>
      <li>
        <span>Puertos USB</span>
        <span>Delanteros: tipo A y C / Trasero: Tipo A</span>
      </li>
    </ul>
  </div>

  <button class="accordion poppins-bold"
    ><img
      src="/img/ico-adas.svg"
      alt="icono"
      class="inline-block mr-2 w-6 h-6 xl:w-8 xl:h-8"
    /> Sistemas avanzados de asistencia a la conducción - ADAS</button
  >
  <div class="panel">
    <ul>
      <li>
        <span>Alerta de colisión frontal (FCW)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente de mantenimiento de carril (LKA)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente de cambio involuntario de carril (LDW)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente de tráfico (TJA)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Control de crucero adaptativo (ACC)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Asistente de crucero integrado (ICA)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span
          >Frenado automático de emergencia + protección de usuarios vulnerables
          (AEB) - VRU)</span
        >
        <img src="/img/punto.svg" alt="" />
      </li>
      <li>
        <span>Sistema de reconocimiento de señales de tráfico (TSR)</span>
        <img src="/img/punto.svg" alt="" />
      </li>
    </ul>
  </div>

  <div class="flex justify-center my-8">
    <a
      href="http://gacmotor.cl/content/uploads/ft-gac-motor-emkoo-hev-1.pdf"
      class="block border-2 border-black rounded-full px-8 py-2 uppercase poppins-medium"
      >Descargar ficha técnica</a
    >
  </div>
</section>

<script is:inline>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<style lang="scss">
  .accordion {
    background-color: #f6f6f6;
    background-image: url("/img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    cursor: pointer;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #dbdbdb;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    @media (min-width: 1280px) {
      padding: 10px 18px;
      font-size: 15px;
    }
    &.active {
      background-image: url("/img/dropdown-up.svg");
    }
  }

  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    li {
      border: 1px solid #dbdbdb;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      padding: 2px;
      @media (min-width: 1280px) {
        padding: 16px 64px;
        font-size: 14px;
      }
    }
  }
</style>
