<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/emkoo-hibrido/img/ext1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/emkoo-hibrido/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Su perfil aerodinámico combina eficiencia y estilo, con un diseño
            moderno, agresivo y deportivo que resalta en cualquier entorno. Sus
            líneas angulares y el frontal con corte diamante, que enmarca el
            imponente logo de la marca, lo convierten en un SUV que no pasa
            desapercibido.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/emkoo-hibrido/img/ext2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/emkoo-hibrido/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Está equipado con faros delanteros LED de iluminación secuencial,
            cada uno con 32 LEDs para una visibilidad excepcional. Sus luces
            diurnas de orientación vertical, con un diseño inspirado en
            colmillos, aportan un estilo distintivo y futurista.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/emkoo-hibrido/img/ext3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/emkoo-hibrido/img/fondo-der.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Los faros traseros LED del GAC Emkoo HEV combinan 128 LEDs en una
            impactante forma de "X", inspirada en espadas láser. Su diseño
            vertical no solo garantiza máxima visibilidad, sino que también
            evoca la estética futurista de una nave espacial en movimiento.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
