<!-- Swiper -->
<div class="swiper mySwiper rightSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/img/int1.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            El interior del GAC Emkoo HEV combina funcionalidad y elegancia con
            apliques redondeados que contrastan con su exterior, creando un
            ambiente relajado. Su volante deportivo con comandos integrados
            brinda un control total y una experiencia de conducción envolvente.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/img/int1.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/img/int2.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            El diseño plano del piso trasero y los asientos traseros abatibles
            con respaldo ajustable ofrecen un maletero con capacidad de hasta
            638 litros. Esta flexibilidad permite adaptar el espacio de manera
            rápida y sencilla para satisfacer cualquier necesidad.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/img/int2.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/img/int3.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-izq.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            La iluminación ambiental con cambios graduales y rítmicos crea un
            ambiente relajante en el interior del GAC Emkoo HEV. Su motorización
            híbrida garantiza una conducción silenciosa y placentera, haciendo
            que cada trayecto sea una experiencia única.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/img/int3.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/img/int4.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-izq.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            La consola central del GAC Emkoo HEV destaca por sus acabados en
            relieve que combinan durabilidad con un diseño moderno y elegante.
            El cristal incrustado en el selector de cambios añade un toque
            exclusivo, ofreciendo ergonomía y facilidad en cada operación.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/img/int4.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/img/int5.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-izq.svg')] bg-no-repeat p-4 xl:py-10 xl:px-20"
          >
            Cuenta con un amplio techo panorámico de 0.96 m² con protección
            solar, que incluye una persiana eléctrica de apertura y cierre. Este
            diseño no solo brinda luminosidad al interior, sino también confort
            y sofisticación en cada trayecto.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/img/int5.png" alt="foto" />
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
