<!-- Swiper -->
<div class="swiper mySwiper rightSwiper2 py-8 xl:py-0 xl:my-16" id="seguridad">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/emkoo-hibrido/img/seg1.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Ofrece un completo paquete de seguridad que combina tecnología y
              protección avanzada. Equipado con airbags frontales, frenos
              antibloqueo (ABS), distribución electrónica de frenado (EBD) y el
              Programa Electrónico de Estabilidad (ESP), garantiza una
              conducción estable y segura.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/emkoo-hibrido/img/seg1.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/emkoo-hibrido/img/seg2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Incorpora el sistema de monitoreo de presión de neumáticos (TPMS),
              control de arranque en pendiente (HHC) y sensores de
              estacionamiento traseros, brindando confianza en todo momento. Los
              anclajes ISOFIX para sillas infantiles refuerzan su enfoque en la
              seguridad familiar​.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/emkoo-hibrido/img/seg2.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/emkoo-hibrido/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/emkoo-hibrido/img/seg3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Está diseñado con funciones de seguridad adicionales que aumentan
              la protección. Incluye un freno de mano electrónico (EPB) y la
              función Auto Hold, que aseguran el vehículo en pendientes o
              paradas prolongadas. Los cinturones de seguridad de la primera
              fila vienen equipados con limitadores de fuerza, proporcionando
              una sujeción controlada en caso de impacto. Además, cuenta con una
              alerta de cinturón de seguridad desabrochado en los asientos
              delanteros, reforzando la seguridad de todos los pasajeros.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/emkoo-hibrido/img/seg3.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
