<!-- Swiper -->
<div class="swiper mySwiper rightSwiper2 py-8 xl:py-0 xl:my-16" id="seguridad">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg1.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              El GAC Emkoo HEV incorpora un avanzado sistema de asistencia a la
              conducción (ADAS), incluyendo asistencia de cambio de carril
              (LCA), control de crucero integrado (ICA), alerta de tráfico
              cruzado trasero (RCTA) y advertencia de colisión frontal (FCW).
              También cuenta con frenado automático de emergencia (AEB),
              mantenimiento de carril (LKA) y reconocimiento de señales de
              tránsito (TSR), ofreciendo máxima seguridad a todos los pasajeros.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg1.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Cuenta con 6 airbags SRS, incluyendo bolsas de aire para piloto,
              copiloto, laterales delanteros y tipo cortina que cubren ambas
              filas de asientos. Este sistema garantiza una protección integral
              para todos los ocupantes del vehículo.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg2.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Máxima seguridad con un bastidor central compuesto al 100% de
              acero de alta resistencia y un 60% de esta aleación en todo el
              vehículo. Esta estructura garantiza mayor protección y robustez
              para todos los pasajeros.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg3.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
